__pycache__/
.pytest_cache/
.mypy_cache/
.DS_Store
build/
dist/
alpha/
.cache/
.eggs/
*.egg-info/
.ipynb_checkpoints
.coverage
.coverage.*
coverage.xml
.vscode
.idea
.venv
venv/*
*.out
data/**
catboost_info/
.pt_tmp/
*.pkl
examples/data/
examples/small_data/
examples/large_data/
examples/train_data.json
examples/val_data.json
examples/test_data.json
examples/small_train_data.json
examples/small_val_data.json
examples/small_test_data.json
examples/large_train_data.json
examples/large_val_data.json
examples/large_test_data.json
